<?xml version="1.0" encoding="utf-8"?>
<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">

    <Catalog.ResourceDescription>
        <Vendor>CoNWeT</Vendor>
        <Name>wms-viewer-geowidget</Name>
        <DisplayName>Web Map Service</DisplayName>
        <Version>0.5.6</Version>
        <Author>billescas</Author>
        <Mail>billescas@conwet.com</Mail>
        <Description> This widget gives users the ability to handle different map layers coming from several sources, showing all of them on the same map. It has a bunch of both events and slots that enables the user to have different instances of this widget wired, so she can compare with different cartographies at a glance. Is compatible with WMS, WMTS and WMS-C.</Description>
        <ImageURI>img/wms_widget.png</ImageURI>
        <iPhoneImageURI>img/wms_widget.png</iPhoneImageURI>
        <WikiURI>http://hercules.ls.fi.upm.es/public/conwet/ogf.html#wms-widget</WikiURI>
    </Catalog.ResourceDescription>
    
    <Platform.StateProperties>
        <Property name="services" type="text" label="Services"/>
        <Property name="state" type="text" label="State"/>        
        <Property name="layersData" type="text" label="State"/>
    </Platform.StateProperties>

    <Platform.Wiring>
        <InputEndpoint name="mapInfoInput" type="text" label="Map info" friendcode="mapInfo"/>
        <InputEndpoint name="addressInput" type ="text" label="Address" friendcode="address" />        
        <InputEndpoint name="wmsInfoInput" type="text" label="WMS info" friendcode="serviceInfo"/>
        <InputEndpoint name="poiInput"         type="text" label="Insert/Update PoI"    friendcode="poi"/>
        <InputEndpoint name="poiInputCenter"    type="text" label="Insert/Update Centered PoI"    friendcode="poi"/>
        <InputEndpoint name="deletePoiInput"    type="text" label="Delete PoI"    friendcode="poi"/>
        <InputEndpoint name="selectPoiInput"    type="text" label="Select PoI"    friendcode="poi"/>
        <InputEndpoint
            name="routeInput"
            type="text"
            description="Google Maps route to be displayed on the map."
            label="Route"
            action_label="Map Viewer Route"
            friendcode="route"/>
        <InputEndpoint
            name="routeStepInput"
            type="text"
            description="Detailed Step of a route. It may be connected with Route Description widget."
            label="Route Step"
            action_label="Map Viewer Details Steps Route"
            friendcode="detailStep"/>

        <OutputEndpoint name="mapInfoOutput"     type="text" label="Map info"         friendcode="mapInfo"/>
        <OutputEndpoint name="visiblePoiListOutput"     type="text" label="Visible PoI List" friendcode="poi"/>
        <OutputEndpoint name="poiSelectedOutput"       type="text" label="PoI Selected"   friendcode="poi"/>
        <OutputEndpoint name="featureInfoOutput" type="text" label="Feature info"     friendcode="featureInfo"/>
        <OutputEndpoint name="legendUrlOutput"         type="text" label="Legend URL"   friendcode="url"/>
        <OutputEndpoint
            name="routeDescriptionOutput"
            type="text"
            description="Route description step by step. It may be connected with Route Description widget."
            label="Route Description"
            friendcode="routeDescription"/>

    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html"/>
    </Platform.Link>

    <Platform.Rendering width="8" height="28"/>

</Template>
